@import "tailwindcss";

html,
body{
  font-size: 16px;
  line-height: 1.6;
  background-color: #1f282b;
  color: white;
}

.main-layout{
  display: grid;
  min-height: 100vh;
  grid-template-areas: 
    'header'
    'content'
    'footer';
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
}

.layout-header{
  grid-area: header;
  padding: 0;
  height: auto !important;
  line-height: 1.6;
  background-color: #1f282b !important;
}

.layout-content{
  grid-area: content;
  background-color: #1f282b;
}

.layout-footer{
  grid-area: footer;
  padding: 0;
  height: auto !important;
  line-height: 1.6;
  background-color: #1f282b !important;
}